:root {
    --background: #FAF8FF;
    --accent: #8685EF;
}


* {
    font-family: 'Monsterrat', sans-serif;
}

body {
    background-color: var(--background) !important;
}
.scoreTxt{
    color: var(--background);
}
.emoji {
    font-size: 18rem;
    padding: 4rem 6rem;
    
}

.emoji1,.emoji2{
    
    background-color: var(--accent);
}

.headerTxt{
    font-size: 2rem;
}
.vsTxt {
    font-size: 10rem;
}


